:root {
  --blue: darkblue;
  --lightblue: rgb(46, 172, 221);
  --textFamily: 'Nunito', sans-serif;
  --line: rgb(201, 201, 201);
  --blackColor:rgba(0, 0, 0, 0.938);
  --textColor: rgba(129, 129, 129, 0.733);
  --headingFamily:'Handlee', cursive;
  --textFamily:'Manrope', sans-serif;
  --greenColor: rgba(20, 201, 20, 0.788);
}
body{
  font-family: var(--textFamily)!important;
}

.App{
  /* background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  ); */
  /* height: 100vh; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* font-family: var; */
}
.AppGlass{
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: #fff;
  overflow: hidden;
  grid-template-columns: 15rem auto;
}